body {
	font-family: 'Ubuntu', sans-serif;
}

.jumbotron {
    height: 400px;
    background: #000 url("../images/skyline.jpg") no-repeat center center;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    color: #FFF; // change text color

}

.panel > .panel-heading {
	background-color: #3888c1;
	color: white;
}

.resultBox {
	margin: 10px;
	border: groove;
	border-radius: 5px;
	height: 50px;
}

.resultForm > h4 {
	float: left;
}

.savedForm > p {
	float: left;
}

.savedBox {
	margin: 10px;
	border:groove;
	border-radius: 5px;
	height: 30px;
}

.saveBtn {
	float: right;
	margin-top: 4px;
	margin-right: 25px;
}

.deleteBtn {
	float: right;
	margin-right: 25px;
}

.btn-custom {
	background-color: #3888c1;
	color: white;
}






